.footer{
  height: 80px;
  max-width: 100vw;
  background-color: #303030;
}

.footer__copywrite{
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  font-family: 'Montserrat', Arial, sans-serif;
  color: #FFF;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .footer{
    height: 94px;
  }

  .footer__img{
    padding-bottom: 12px;
  }
}